.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px);
  /* overflow: scroll; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper div div {
  width: 480px;
  text-align: right;
}

.inputWrapper div div div {
  width: 24px;
}

.link {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #4C4CFF;
  transition: all .3s ease-in;
}

.link:hover {
  opacity: .9;
  color: #fff;
}

.linkItem {
  display: flex;
  justify-content: center;
  gap: 8px
}