.burgerIngredients {
  max-width: 600px;
}

.burgerCards {
  /* height: 662px; */
}

.ingredientsCategory {
  max-height: 750px;
  overflow: auto;
}

.ingredientsCategory::-webkit-scrollbar {
  width: 8px;
}

.ingredientsCategory::-webkit-scrollbar-track {
  background: #2F2F37;
}

.ingredientsCategory::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
}

.title {
  text-align: left;
}